# /etc/systemd/system/docker-compose-ocserv.service
[Unit]
Description=Docker Compose Application Service Nginx + Ocserv (OpenConnect)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=<w_d>
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=20

[Install]
WantedBy=multi-user.target